/* HERO SECTION */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('hero-image_RedRoad.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

/* CONTENT */
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-credit {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 12px;
  color: #fff;
  opacity: 0.7;
}

/*
.hero-credit a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
}*/

/* BUTTON */
.hero-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff4d4d;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* HOVER EFFECT */
.hero-btn:hover {
  background-color: #e60000;
  transform: translateY(-2px);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
